.header-logo {
    width: 42px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    height: 56px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}

.version {
    right: 16px;
    position: absolute;
    bottom: 0;
    font-size: 11px;
}