# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# 'last 2 versions' was replaced with explicit per-family queries below - it pulls in the last
# 2 versions of every browser browserslist tracks (KaiOS, Opera Mini, UC/QQ Browser, etc.), which
# Angular does not support and warns about on every build.

last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions
last 2 iOS versions
Firefox ESR
not dead