.banner {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.banner-logo {
    width: 8em;
}

.logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title {
    margin-top: 30px;
}