/* .banner {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.banner-logo {
    width: 8em;
}

.logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.title {
    margin: 24px 10%;
    text-align: center;
}

.github-link {
    fill:#151513; 
    color:#fff; 
    position: absolute; 
    top: 56px; 
    border: 0; 
    right: 0;
}

@media only screen and (max-width: 600px) {
    .github-link {
        width: 60px;
        height: 60px;
    }
}